.header {
    width: 100%;
    height: 90px;
    background-color: #c23616;
    margin: 0;
    padding: 0;
}

.row {
    max-width: 100vw;
    margin: 0 10%;
    background-color: #fff;
    line-height: 1.5em;

}

.logo {
    width: auto;
    height: 80px;
    position: absolute;
    top: 1%;
    left: 1%;
}

.btn {
    display: inline-block;
    padding: 10px 10px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    font-size: 1rem;
    color: white;
}

.btnFull {
    background-color: #c23616;
}

.btnFull:hover {
    background-color: #5cbf2a;
}

.btnFull:active {
    position: relative;
    top: 1px;
}

.inputField {
    box-sizing: border-box;
    padding: 5px 20px;
    border: 1px solid #b7b7b7;
    border-radius: 7px;
    text-overflow: clip;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    color: rgba(0, 0, 0, 0.5);
}


h3 {
    margin: 2% 0;
}


.choiceBtn {
    display: inline-block;
    padding: 5px 10px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    font-size: .7rem;
    color: white;
    margin: 3px 3px 3px 0;

}

.choiceBtnFull {
    background-color: #c23616;
}

.choiceBtnFull:hover {
    background-color: #5cbf2a;
}

.choiceBtnFull:active {
    position: relative;
    top: 1px;
}

.generalSection {
    margin-bottom: 10px;

}

.addressSection {
    margin-bottom: 10px;

}

.timingsSections {
    margin-bottom: 10px;

}


.select{
    box-sizing: border-box;
    display: inline-block;
    cursor: pointer;
    outline: 0;
    border: 0px solid #000000;
    background: #ffffff;
    font-weight: 200;
    font-size: 1em;
    padding: 5px 20px;
    border: 1px solid #b7b7b7;
    border-radius: 7px;
    text-overflow: clip;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    color: rgba(0, 0, 0, 0.5);
    
}

@media only screen and (max-width: 1280px) {
    .timingLabel{
    margin-right :15%
}

.timingSelect{
    
    margin-right :15%
}

.timingTo{
    
    margin-right :15%
}


}




@media only screen and (max-width: 1023px) {}



@media only screen and (max-width: 767px) {}


@media only screen and (max-width: 480px) {
    .row {
        max-width: 100vw;
        margin: 0 5%;
        background-color: #fff;
        line-height: 1.5em;

    }
    .inputField {
        display: block;
        width: 90%;
        margin: 1% 5%;
    }

    .timingLabel{
        margin-right :15%
    }

    .timingSelect{
        margin-right :15%
    }

    .timingTo{
        display: none;
    }
}
